h1{
    color: blue;
}

#coinButton{
    display: flex;
    margin-left: 5%;
    width: 15%;
}

#coinImage{
    width: 100%;
}

#hiddenForm{
    visibility: hidden;
}

#myForm{
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
}